[mysqld]

bind_address                    = 0.0.0.0
default_storage_engine          = InnoDB
binlog_format                   = ROW

wsrep_on                        = ON
wsrep_provider                  = /usr/lib/galera/libgalera_smm.so
wsrep_sst_method                = rsync
wsrep_cluster_address           = "gcomm://"
wsrep_sst_auth                  = "root:rootpass"
